<launch>
  <node name="SNN" pkg="spike" type="SNN.py" output="screen" respawn="false" required="true">
    <param name="SNNname" value="Silence"/>			        <!-- Name of the SNN -->
    <param name="verbose" type="bool" value="True"/>		<!-- Will display process if True -->	
    <param name="graph" type="bool" value="False"/>		    <!-- Display or not the graphics after first iteration  -->
    <param name="mode" type="int" value="0"/>			    <!-- 0: Learning mode  1: run mode -->
    <param name="nb_learn" type="int" value="3"/>			<!-- nb data to learn (if mode==0) -->    
    <param name="input_neurons" type="int" value="1"/>	    <!-- Number of input neurons -->
    <param name="output_neurons" type="int" value="1"/>		<!-- Number of output neurons -->
    <param name="hidden_neurons" type="int" value="1"/>	    <!-- Number of hidden neurons -->
    <param name="hidden_layers" type="int" value="1"/>	    <!-- Number of layers of hidden neurons -->
    <param name="synapse_weight" value="0.2"/>	            <!-- Synapse weight value -->
    <param name="tau" type="int" value="10"/>			    <!-- Tau constant -->
    <param name="threshold" value="v>0.8"/>			        <!-- The spike threshold  -->
    <param name="reset" value="v = 0"/>			            <!-- The reset value after a spike  -->
    <param name="refractory" type="int" value="5"/>		    <!-- The refractory time -->
    <param name="simulation_lenght" type="int" value="50"/>	<!-- The simlation lenght -->
    <param name="equation" value="dv/dt = (1 - v) /tau : 1 (unless refractory)"/>           <!-- Spike formula -->    
    <param name="path" value="/home/ubuntu/catkin_ws/src/spike/src/spike/SNN/learned/"/>     <!-- path where the trained SNN is saved -->   
  </node>
</launch>
